{% extends "bootstrap/base.html" %}

{%block title%}OES{%endblock%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">OES</a>
            {% else %}
            <a class="navbar-brand" href="{{ url_for('home') }}">OES</a>
            {% endif %}
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('authBp.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
            {% else %}
            <li><a href="{{ url_for('authBp.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="{{ url_for('authBp.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}



{%block content %}
<div class="container-fluid">
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('takeExamBp.exam_search') }}">Take Exam</a></li>
                <li><a href="{{ url_for('exam_view.list_results', roll_number=1) }}"> View results </a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% else %}
        <div class="col-sm-12 main">
        {% endif %}
        
        {% block main_content %}{% endblock %}
        </div>
    </div>
</div>




{%endblock%}

