{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{%block title%} Dashboard {%endblock%}

{%block main_content%}
    <div class="card-container">
        <div class="card">
            <h1>Welcome, {{ user.name }}!</h1>
            <p>You are logged in as a {{ user.role }}.</p>
            <br>
            <a href="{{ url_for('authBp.logout') }}" class="btn btn-danger">Logout</a>
            <div class="text-center">
                <p><a class="btn btn-primary" href="http://127.0.0.1:5001/results?roll_number=1">View results</a></p>
            </div>
        </div>
    </div>
{%endblock%}