{% extends "base.html" %}
{% block title %}Create Exam{% endblock %}

{% block main_content %}
<div class="card">
    <h2>Create Exam</h2>

    <form method="POST" action="/exams">
        <input name="course_code" placeholder="Course Code" required><br><br>
        <input name="instructor_email" placeholder="Instructor Email" required><br><br>
        <input name="title" placeholder="Exam Title"><br><br>
        <input name="time_limit" type="number" placeholder="Time Limit (minutes)"><br><br>
        <input name="security_settings" placeholder="Security Settings"><br><br>
        <button type="submit">Create Exam</button>
    </form>
</div>
{% endblock %}
